/* 

.image-container {
    position: relative;
    display: inline-block;
}

.profile-image {
    height: 30px;
    width: 30px;
    border: 1px solid #D8C7B6;
}

.edit-link {
    height: 30px;
    position: absolute;
    bottom: 0;
    right: 0;
    color: white;
    padding: 2px 5px;
    text-decoration: none;
    font-size: 12px;
    border-radius: 2px;
    display: none;
}

.edit-link img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.image-container:hover .edit-link {
    display: block;
    background: rgba(0, 0, 0, 0.5);
}

.hidden {
    display: none;
}

.fa-chevron-down {
    font-size: 1.5em;
}

.message_file {
    height: 200px;
    max-width: 100%;
    border-radius: .3rem;
}

.speech-bubble {
    display: inline-block;
    max-width: 35%;
    position: relative;
    background: #D8C7B6;
    border-radius: .4em;
    padding: 10px;
    margin: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.329);
    word-wrap: break-word;
}

.speech-bubble:after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 10px;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-top-color: #D8C7B6;
    border-bottom: 0;
}

.left .speech-bubble:after {
    left: 10px;
    border-left: 0;
}

.right .speech-bubble:after {
    right: 10px;
    border-right: 0;
    border-top-color: #D8C7B6;
}

.right .speech-bubble {
    background-color: #D8C7B6;
}

.right {
    align-self: flex-end;
}



.message_profile_wrapper {
    display: flex;
    position: relative;
    justify-content: left;
    flex-direction: row-reverse;
}

.message_profile_you {
    display: flex;
    justify-content: right;
}


.blocked_message_wrapper {
    display: flex;
    flex-direction: column;
    background-color: rgb(55, 55, 55);
    width: calc(100% - 20px);
    padding: 10px;
    border-radius: .4em;
    color: rgb(212, 212, 212);
    margin: 5px 0;
}

.block-p {
    margin: 0 auto;
}

.block-i:hover {
    opacity: 60%;
    transition: .3s;
    cursor: pointer;
}

.speech-bubble p {
    word-break: break-word;
}









.content {
    margin-top: 50em;
    transition: margin-left 0.5s;
    padding: 16px;
}

.open-btn {
    font-size: 1.5em;
    cursor: pointer;
    position: fixed;
    top: 10px;
    left: 10px;
}

.open-btn:hover {
    color: #007BFF;
}

@media screen and (max-height: 450px) {
    .side-nav {
        padding-top: 15px;
    }

    .side-nav a {
        font-size: 18px;
    }
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
}

.group {
    width: calc(33.33% - 20px);
    background-color: #FBF5E9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.group a {
    color: #333;
    text-decoration: none;
    font-size: 18px;
}

.group a:hover {
    text-decoration: underline;
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.input-container {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    background-color: #F0F2F5;
}

textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
    transition: height 0.3s;
}

textarea:focus {
    border-color: #007bff;
}

.message_wrapper {
    width: fit-content
}

.input-field {
    width: 100%;
    padding: 0.5em;
    margin: 0.5em 0;
    box-sizing: border-box;
    border: 1px solid #A3654E;
    border-radius: 5px;
}

.input-field:focus {
    outline: none;
    border-color: #F1E9E4;
}

.submit-btn {
    width: 100%;
    padding: 0.5em;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #5C695F;
    transition: background-color 0.3s;
}

.submit-btn:hover {
    background-color: #2f363b;
}

.message_wrapper {
    display: flex;
    align-items: flex-start;
    margin: 10px 0;
    width: fit-content;
}

.profile_pic {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
}

.profile_pic img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.username {
    margin-top: 5px;
    text-align: center;
}

.message_bubble {
    background-color: #f1f1f1;
    border-radius: 10px;
    padding: 10px;
    position: relative;
}

.message_content {
    margin-bottom: 20px;
}

.timestamp {
    position: absolute;
    bottom: 5px;
    left: 10px;
    font-size: 8px;
    color: gray;
}

#messages_container {
    flex: 1;
    overflow-y: auto;
    padding: 16px;
    background-color: #f1f1f1;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 16px;
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
}

#messages_container {
    flex: 1;
    overflow-y: auto;
    padding: 16px;
    background-color: #f1f1f1;
} */
/* 
* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.app-name {
    margin-bottom: 2em;
    text-align: center;
}

.app-name h1 {
    margin: 0;
    font-size: 2.5em;
    color: #5C695F;
    animation: fadeIn 1.5s ease-in-out forwards;
}

#chatroom_head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#chatroom_head h1 {
    margin-bottom: 0;
}

#online-count::before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: gray;
    border-radius: 50%;
    margin-right: 5px;
    vertical-align: middle;
    transition: background-color 0.3s ease;
}

#online-count.online::before {
    background-color: green;
}

.login-template,
.signup-template {
    max-width: 400px;
    width: 100%;
    padding: 1em;
    border: 1px solid #A3654E;
    border-radius: 5px;
    background-color: #F1E9E4;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-template input[type="text"],
.login-template input[type="password"],
.signup-template input[type="text"],
.signup-template input[type="email"],
.signup-template input[type="password"] {
    width: 100%;
    padding: 0.5em;
    margin: 0.5em 0;
    box-sizing: border-box;
}

.login-template input[type="submit"],
.signup-template input[type="submit"] {
    width: 100%;
    padding: 0.5em;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #5C695F;
    transition: background-color 0.3s;
}

.login-template a,
.signup-template a {
    color: #5C695F;
    text-decoration: none;
}

.login-template input[type="submit"]:hover,
.signup-template input[type="submit"]:hover {
    background-color: #2f363b;
}

.login-template div,
.signup-template div {
    width: 100%;
    text-align: center;
    margin-top: 1em;
}

.login-template a:hover,
.signup-template a:hover {
    text-decoration: underline;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.side-nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #F1E9E4;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.side-nav a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 1.2em;
    color: #5C695F;
    display: block;
    transition: 0.3s;
}

.side-nav a:hover {
    background-color: #FBF5E9;
}

.side-nav .close-btn {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 2em;
    margin-left: 50px;
    cursor: pointer;
}

.profile-update-form,
.profile-delete-form {
    max-width: 400px;
    width: 100%;
    padding: 1em;
    border: 1px solid #A3654E;
    border-radius: 5px;
    background-color: #F1E9E4;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1em;
}

.form-group {
    width: 100%;
    margin: 0.5em 0;
}

.input-text,
.input-file {
    width: 100%;
    padding: 0.5em;
    box-sizing: border-box;
}

.btn-submit,
.btn-delete {
    width: 100%;
    padding: 0.5em;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #5C695F;
    transition: background-color 0.3s;
}

.btn-submit:hover,
.btn-delete:hover {
    background-color: #2f363b;
}

.error-message {
    color: red;
    text-align: center;
    margin-top: 1em;
} */


/* ##################################RETRO######################### */
/* * {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #01204e;
}

.app-name {
    margin-bottom: 2em;
    text-align: center;
}

.app-name h1 {
    margin: 0;
    font-size: 2.5em;
    color: #f6dcac;
    animation: fadeIn 1.5s ease-in-out forwards;
}

#chatroom_head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#chatroom_head h1 {
    margin-bottom: 0;
    color: #faa968;
}

#online-count::before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: gray;
    border-radius: 50%;
    margin-right: 5px;
    vertical-align: middle;
    transition: background-color 0.3s ease;
}

#online-count.online::before {
    background-color: #028391;
}

.login-template,
.signup-template {
    max-width: 400px;
    width: 100%;
    padding: 1em;
    border: 1px solid #f85525;
    border-radius: 5px;
    background-color: #f6dcac;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-template input[type="text"],
.login-template input[type="password"],
.signup-template input[type="text"],
.signup-template input[type="email"],
.signup-template input[type="password"] {
    width: 100%;
    padding: 0.5em;
    margin: 0.5em 0;
    box-sizing: border-box;
    border: 1px solid #028391;
}

.login-template input[type="submit"],
.signup-template input[type="submit"] {
    width: 100%;
    padding: 0.5em;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #f85525;
    transition: background-color 0.3s;
}

.login-template a,
.signup-template a {
    color: #028391;
    text-decoration: none;
}

.login-template input[type="submit"]:hover,
.signup-template input[type="submit"]:hover {
    background-color: #01204e;
}

.login-template div,
.signup-template div {
    width: 100%;
    text-align: center;
    margin-top: 1em;
}

.login-template a:hover,
.signup-template a:hover {
    text-decoration: underline;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.side-nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #028391;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.side-nav a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 1.2em;
    color: #f6dcac;
    display: block;
    transition: 0.3s;
}

.side-nav a:hover {
    background-color: #faa968;
}

.side-nav .close-btn {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 2em;
    margin-left: 50px;
    cursor: pointer;
    color: #f6dcac;
}

.profile-update-form,
.profile-delete-form {
    max-width: 400px;
    width: 100%;
    padding: 1em;
    border: 1px solid #f85525;
    border-radius: 5px;
    background-color: #f6dcac;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1em;
}

.form-group {
    width: 100%;
    margin: 0.5em 0;
}

.input-text,
.input-file {
    width: 100%;
    padding: 0.5em;
    box-sizing: border-box;
    border: 1px solid #028391;
}

.btn-submit,
.btn-delete {
    width: 100%;
    padding: 0.5em;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #f85525;
    transition: background-color 0.3s;
}

.btn-submit:hover,
.btn-delete:hover {
    background-color: #01204e;
}

.error-message {
    color: red;
    text-align: center;
    margin-top: 1em;
} */


/* ##################################CYBERPuNK######################### */
/* * {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #2a2356;
}

.app-name {
    margin-bottom: 2em;
    text-align: center;
}

.app-name h1 {
    margin: 0;
    font-size: 2.5em;
    color: #e0d9f6;
    animation: fadeIn 1.5s ease-in-out forwards;
}

#chatroom_head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#chatroom_head h1 {
    margin-bottom: 0;
    color: #c252e1;
}

#online-count::before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: gray;
    border-radius: 50%;
    margin-right: 5px;
    vertical-align: middle;
    transition: background-color 0.3s ease;
}

#online-count.online::before {
    background-color: #6ecbf5;
}

.login-template,
.signup-template {
    max-width: 400px;
    width: 100%;
    padding: 1em;
    border: 1px solid #586ae2;
    border-radius: 5px;
    background-color: #e0d9f6;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-template input[type="text"],
.login-template input[type="password"],
.signup-template input[type="text"],
.signup-template input[type="email"],
.signup-template input[type="password"] {
    width: 100%;
    padding: 0.5em;
    margin: 0.5em 0;
    box-sizing: border-box;
    border: 1px solid #6ecbf5;
}

.login-template input[type="submit"],
.signup-template input[type="submit"] {
    width: 100%;
    padding: 0.5em;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #c252e1;
    transition: background-color 0.3s;
}

.login-template a,
.signup-template a {
    color: #6ecbf5;
    text-decoration: none;
}

.login-template input[type="submit"]:hover,
.signup-template input[type="submit"]:hover {
    background-color: #2a2356;
}

.login-template div,
.signup-template div {
    width: 100%;
    text-align: center;
    margin-top: 1em;
}

.login-template a:hover,
.signup-template a:hover {
    text-decoration: underline;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.side-nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #586ae2;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.side-nav a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 1.2em;
    color: #e0d9f6;
    display: block;
    transition: 0.3s;
}

.side-nav a:hover {
    background-color: #c252e1;
}

.side-nav .close-btn {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 2em;
    margin-left: 50px;
    cursor: pointer;
    color: #e0d9f6;
}

.profile-update-form,
.profile-delete-form {
    max-width: 400px;
    width: 100%;
    padding: 1em;
    border: 1px solid #586ae2;
    border-radius: 5px;
    background-color: #e0d9f6;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1em;
}

.form-group {
    width: 100%;
    margin: 0.5em 0;
}

.input-text,
.input-file {
    width: 100%;
    padding: 0.5em;
    box-sizing: border-box;
    border: 1px solid #6ecbf5;
}

.btn-submit,
.btn-delete {
    width: 100%;
    padding: 0.5em;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #c252e1;
    transition: background-color 0.3s;
}

.btn-submit:hover,
.btn-delete:hover {
    background-color: #2a2356;
}

.error-message {
    color: red;
    text-align: center;
    margin-top: 1em;
} */