@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'VT323', monospace;
    /* color: aliceblue; */
}

.content {
    height: 100vh;
}

body {
    background-color: #1d1d1d;
}

.image-container {
    position: relative;
    display: inline-block;
    border-radius: 15px;
}

.profile-image {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.edit-link {
    height: 30px;
    position: absolute;
    bottom: 0;
    right: 0;
    color: white;
    padding: 2px 5px;
    text-decoration: none;
    font-size: 12px;
    border-radius: 2px;
    display: none;
}

.edit-link img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.image-container:hover .edit-link {
    display: block;
    background: rgba(0, 0, 0, 0.5);
}

/* .hidden {
    display: none;
} */

#messages_container {
    background-color: #ff87df42;
    /* background-color: #f0000007a; */
    height: calc(100vh - 170px);
    overflow-y: scroll;
    scrollbar-width: none;
    display: flex;
    flex-direction: column;
    padding: 0px 50px;
    margin: 10px 20px;
    border-radius: 5px;
}

.message_wrapper {
    width: fit-content;
    max-width: 50%;
}

#test_wrapper {
    position: relative;
}

#to-bottom-btn {
    position: absolute;
    right: 30px;
    bottom: 20px;
    padding: 10px;
    border-radius: 50%;
    border: none;
    transition: .3s;
    background-color: #61224a;
}

#to-bottom-btn:hover {
    opacity: 60%;
    cursor: pointer;
}

.fa-chevron-down {
    font-size: 1.5em;
}

.message_file {
    height: 200px;
    max-width: 100%;
    border-radius: .3rem;
}

.speech-bubble {
    display: flex;
    justify-content: center;
    position: relative;
    background: #1d1d1d;
    border-radius: .4em;
    padding: 10px;
    margin: 10px;
    height: fit-content;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.329);
    color: whitesmoke;
    font-family: sans-serif;
}

.speech-bubble p {
    font-family: sans-serif;
}

.speech-bubble:after {
    content: '';
    position: absolute;
    bottom: -10px;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-top-color: #1d1d1d;
    border-bottom: 0;
}

.left .speech-bubble:after {
    left: 0;
    border-left: 0;
}

.right .speech-bubble:after {
    right: 0;
    border-right: 0;
    border-top-color: #ff87df;
}

.right .speech-bubble {
    /* background-color: #00072d; */
    background-color: #ff87df;
    color: whitesmoke;
}

.right {
    align-self: flex-end;
}

.message_profile_wrapper {
    display: flex;
    position: relative;
    justify-content: left;
    flex-direction: row-reverse;
    align-items: center;
    gap: 10px;
}

.popup_account {
    position: relative;
    bottom: 4px;
    font-size: 1.2em;
}

.message_profile_wrapper a {
    color: 00072d;
}

.message_profile_you {
    display: flex;
    justify-content: right;
    font-size: 1.2em;
}

.blocked_message_wrapper {
    display: flex;
    flex-direction: column;
    background-color: rgb(55, 55, 55);
    width: calc(100% - 20px);
    padding: 10px;
    border-radius: .4em;
    color: rgb(212, 212, 212);
    margin: 5px 0;
}

.block-p {
    margin: 0 auto;
}

.block-i:hover {
    opacity: 60%;
    transition: .3s;
    cursor: pointer;
}

.speech-bubble p {
    word-break: break-word;
}

/* #send-message textarea,
#update-message textarea {
    width: 100%;
    margin: auto;
    bottom: 1px;
    resize: none;
    height: 60px;
    background-color: #0c6291a5;
    border-radius: 355px;
    color: white;
} */

.side-nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #FF87DF;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.side-nav a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 1.2em;
    color: #1d1d1d;
    display: block;
    transition: 0.3s;
}

.side-nav a:hover,
.side-nav i:hover {
    background-color: #1d1d1d;
    color: aliceblue;
}



.side-nav .close-btn {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 2em;
    margin-left: 50px;
    cursor: pointer;
    color: 00072d;
}

.open-btn {
    font-size: 1.5em;
    cursor: pointer;
    position: fixed;
    top: 10px;
    left: 10px;
    padding: 0.1em .5em;
    border: none;
    border-radius: 5px;
    background-color: #652844;
    color: white;
    transition: background-color 0.3s, color 0.3s;
}

.open-btn:hover {
    background-color: #ff87df;
    color: #1d1d1d;
}

#online-count::before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #ff87df;
    border-radius: 50%;
    margin-right: 5px;
    vertical-align: middle;
    transition: background-color 0.3s ease;
}

#online-count.online::before {


    background-color: #a63446;
}

.login-template,
.signup-template {
    max-width: 400px;
    width: 100%;
    padding: 1em;
    box-shadow: 3px 3px #48172e;
    border-radius: 5px;
    background-color: #652844;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-update-form,
.profile-delete-form {
    max-width: 400px;
    width: 100%;
    padding: 1em;
    box-shadow: 1px 1px #f85525;
    /* border-radius: 5px; */
    background-color: #00646f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-update-form {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.profile-delete-form {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.profile-update-form input[type='submit']:hover,
.profile-delete-form input[type='submit']:hover {
    background-color: #faa968;
}

.login-template input[type="text"],
.login-template input[type="password"],
.signup-template input[type="text"],
.signup-template input[type="email"],
.signup-template input[type="password"],
.input-text,
.input-file {
    width: 100%;
    padding: 0.5em;
    margin: 0.5em 0;
    box-sizing: border-box;
    color: #00072d;
}


.login-template input[type="submit"],
.signup-template input[type="submit"],
.btn-submit,
.btn-delete {
    width: 100%;
    padding: 0.5em;
    color: #e0e0e0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #00072d;
    transition: background-color 0.3s;
}

.login-template a,
.signup-template a {
    color: #00041b;
    text-decoration: none;
}

.login-template a:hover,
.signup-template a:hover {
    text-decoration: underline;
    color: #00041b;
}

.login-template input[type="submit"]:hover,
.signup-template input[type="submit"]:hover,
.btn-submit:hover,
.btn-delete:hover .login-template div,
.signup-template div,
.error-message {
    width: 100%;
    text-align: center;
}

.login-template a:hover,
.signup-template a:hover {
    text-decoration: underline;
}

.login-template input:hover,
.signup-template input[type='submit']:hover {
    background-color: #00041b;
}

.login-template form,
.signup-template form {
    margin-bottom: 1em;
}

#chatroom_head {
    color: #e0e0e0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#chatroom_head h1 {
    margin-bottom: 0;
    color: #e0e0e0;
}

.app-name {
    margin-bottom: 2em;
    text-align: center;
}

.app-name h1 {
    margin: 0;
    font-size: 2.5em;
    color: #662542;
    animation: fadeIn 1.5s ease-in-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.group {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3em;
    height: 50px;
    border-bottom: 1px solid rgb(230, 230, 230);
}

.profile-pic {
    flex-shrink: 0;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 10px;
}

.profile-pic img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.user-info {
    padding: 1em;
    flex-grow: 1;
    color: #faa968;
}

.user-info p {
    margin: 0.5em 0;
    color: #faa968;
}

.user-card {
    width: 100%;
    /* border: 2px solid #f85525; */
    border-radius: 5px;
    /* background-color: #028391; */
    /* background-color: #00646f; */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #662542;
    color: white;
    transition: background-color 0.3s, color 0.3s;
}

button:hover {
    color: whitesmoke;
    background-color: 00072d;
}

button:focus {
    background-color: #a63446;
    color: white;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    /* border: solid red; */
    /* border: solid red; */
}

.user-profile {
    height: 80vh;
    width: 40%;
    /* border: solid orangered; */
}

.user-profile div {
    /* border: solid orangered; */
    margin-bottom: 1em;
}

.profile-buttons {
    background: orangered;
}

.user-profile {
    height: 60vh;
    width: 35%;
    border: 2px solid #662542;
    border-radius: 10px;
    padding: 1em;
    background-color: #311924;
    color: white;
}

.user-profile div {
    border: 2px solid #662542;
    border-radius: 5px;
    padding: 0.5em;
    margin-bottom: 1em;
}

.profile-buttons {
    background: #662542;
    color: white;
    border: none;
    padding: 0.5em 1em;
    border-radius: 5px;
    cursor: pointer;
}

.center-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.result-container {
    width: 600px;
    height: 400px;
    background-color: #652844;
    overflow-y: scroll;
    scrollbar-width: none;
    border-radius: 10px;
    color: #e0e0e0;
    font-size: 20px;
}

.result-container img {
    height: 30px;
    width: 30px;
    border-radius: 10px;
}

.result-container .wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
}

.friend-lists-nav {
    margin-top: -500px;
    margin-bottom: 20px;
    position: fixed;
}


.friend-lists-nav a {
    font-size: 20px;
    text-decoration: none;
    color: #e0e0e0;
    padding: 20px 10px;
}

.friend-lists-nav a:hover {
    text-decoration: underline;
}

.no-friends {
    text-align: center;
}

.no-friends a {
    color: #f85525;
    text-decoration: none;
}

.no-friends a:hover {
    color: black;
    text-decoration: underline;
}

.model-count {
    padding: 10px;
    color: #e0e0e0;
}

.result-container ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px 20px;
    gap: 10px;
    list-style-type: none;
    border-bottom: #1d1d1d solid .5px;
}

.result-container ul li img {
    height: 60px;
    width: 60px;
    border-radius: 50px;
}

.result-container ul li a {
    color: white;
    text-decoration: none;
}

.group-management {
    width: 600px;
    height: 400px;
    background-color: #a63446;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    overflow-y: scroll;
    scrollbar-width: none;
}

.group-management h2 {
    font-size: 40px;
}

.group-management h3 {
    padding: 10px;
}

.group-management a {
    color: white;
    text-decoration: none;

}

.group-management img {
    width: 30px;
    height: 30px;
    border-radius: 10px;
}

.mod {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.chat-member {
    display: flex;
    align-items: center;
    gap: 10px;
}

#invite_header {
    color: white;
    font-size: 2em;
}

.invites {
    text-align: center;
    color: #e0e0e0;
}

.invites h3 {
    font-size: 40px;
    padding: 10px;
}

.send-invites {
    text-align: center;
}

.result-container .row {
    padding: 10px;
}

.back-chatroom {
    padding: 10px;
}

.back-chatroom a {
    color: #cfcfcf;
    text-decoration: none;
    transition: .3s;
}

.back-chatroom a:hover {
    color: #ff87df;
    text-decoration: underline;
}

#user_profile_plate {
    display: flex;
    flex-direction: column;
    background-color: #61224a;
    width: 400px;
    height: 600px;
    border-radius: 10px;
}

#user-profile-username-image {
    margin: 5%;
    height: 50%;
    width: 90%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-evenly;
    background-color: #ba7695;
    border-radius: 6px;
    box-shadow: 0 0 6px #00000076;
}

#names {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

#username_profile {
    display: flex;
    justify-content: center;
    font-size: 1.5em;
    font-weight: 100;
}

#displayname_profile {
    font-size: 2.5em;
    font-weight: 100;
}


#profile_view_img {
    width: 200px;
    height: 200px;
    border-radius: 60%;
    box-shadow: 0 0 5px #00000075;
}

#profile_btns {
    margin-left: 5%;
    justify-content: center;
    display: flex;
    width: 90%;
    height: 40%;
    border-radius: 6px;
    background-color: #ba7695;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    box-shadow: 0 0 6px #00000076;
}

.account-view-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #48172e;
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    box-shadow: 0 0 3px #00000076;
    transition: .3s;
    cursor: pointer;
}

.account-view-btn:hover {
    background-color: #944a6b;
}

#profile_btns a {
    text-decoration: none;
}

.no_recent_updates {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #662542;
    border-radius: 10px;
    width: 100%;
    padding: .7em;
    height: 50px;
    font-size: 1.6em;
    color: white;
}

#no_friends_search_link {
    color: white;
    text-decoration: none;
    padding: 10px;
}

#no_friends_search_link:hover {
    color: #662542;
    text-decoration: underline;
}

/* DELETE IF YOU WANT */

.account-plate-styles {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 400px;
    background-color: #00072d;
    left: calc(50% - 200px);
    top: calc(50% - 250px);
    height: 500px;
    border-radius: 10px;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

#acc_popup_img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

#acc_popup_user,
#acc_popup_display {
    color: whitesmoke;
    font-size: 2em;
}

#acc_popup_user {
    font-size: 1.5em;
}

#close_account_popup {
    position: absolute;
    right: 10px;
    top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    font-size: 35px;
    border-radius: 50%;
    background-color: transparent;
    transition: .3s;
}

#close_account_popup:hover {
    opacity: 60%;
}

#account img {
    height: 200px;
}

.search-bar {
    width: 600px;
    height: 40px;
    background-color: #00000064;
    border-radius: 30px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.search-bar .row {
    display: flex;
    align-items: center;
    padding: 5px 20px;
}

::placeholder {
    color: #676767;
}

.search-bar input {
    height: 30px;
    width: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    font-size: 18px;
    color: white;
    position: fixed;
}

#search-results {
    width: 600px;
    height: 400px;
    background-color: #652844;
    overflow-y: scroll;
    scrollbar-width: none;
    border-radius: 10px;
}


#search-results ul a {
    text-decoration: none;
    color: black;
}

#search-results ul li {
    display: flex;
    align-items: center;
    padding: 10px 20px 20px;
    gap: 10px;
    list-style-type: none;
    border-bottom: 1px solid #1e1e1e;
}

#search-results ul li:hover {
    background-color: #ff87df4b;
}

#search-results ul li img {
    height: 60px;
    width: 60px;
    border-radius: 50px;
}

.no-users {
    text-align: center;
    padding: 10px;
}

.side-nav a {
    font-family: 'VT323', monospace;
}

.message_wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
}

.message_buttons {
    display: none;
    bottom: 15px;
    right: 15px;
    border-radius: .3rem;
    overflow: hidden;
    width: fit-content;
    bac
}

.right .message_buttons {
    align-self: flex-end;
}

.edit_message {
    padding: 10px;
    margin: 0;
    background-color: aliceblue;
    color: 00072d;
    border-radius: 0;
    z-index: 2;
    color: #1d1d1d;
}

.delete-message {
    padding: 10px;
    margin: 0;
    background-color: aliceblue;
    color: #1d1d1d;
    border-radius: 0;
    z-index: 2;
}

.delete-message:hover,
.edit_message:hover {
    background-color: white;
    color: #1d1d1d;
}

.home_page {
    height: 100vh;
    /* width: 100vw; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #e0e0e0;
}

#conversely_hplogo {
    font-size: 6em;
}

#createGroup {
    font-size: 1.3em;
    padding: 10px 7px;
}

#createGroup:hover {
    background-color: #ff87df;
    color: #1d1d1d;
}

#createGroupForm {
    top: 0;
    position: absolute;
    height: 100vh;
    width: 100vw;
    backdrop-filter: blur(3px);
}

#createGroupForm form {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    width: 80%;
    height: 50%;
    max-width: 650px;
    max-height: 250px;
    background-color: 00072d;
    color: white;
    font-size: 1.5em;
    gap: 40px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.40);
    background-color: #311924;
}

#createGroupForm form input {
    width: 200px;
    height: 10px;
    font-size: 1.3em;
    border: none;
    outline: none;
    border-radius: 3px;
    padding: 10px;
}

#createGroupForm form button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    font-size: 1em;
}

#createGroupForm form button:hover {
    background-color: #ff87df;
} 

#close_group_form {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 1.2em;
    transition: .3s;
}

#close_group_form:hover {
    opacity: 60%;
    cursor: pointer;
}

#group_selection_table {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    height: 50%;
    background-color: #0000007a;
    width: 50%;
    border-radius: 10px;
    outline: 5px solid #0000007a;
    scrollbar-width: none;
    overflow: hidden;
}

#group_select_table_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 2em;
    background-color: #1d1d1d;
    border-bottom: 1px solid transparent;
    width: 100%;
    height: calc(25% - 1px);
}

#group_table_header_name {
    display: flex;
    width: 70%;
    justify-content: center;
    /* margin-left: 50px; */
}

#group_table_header_privelege {
    display: flex;
    width: 30%;
    justify-content: center;
    /* margin-right: 50px; */
}

#group_select_scroll {
    overflow-y: scroll;
    width: 100%;
    height: 100%;
    scrollbar-width: none;
}

#group_select_scroll::-webkit-scrollbar {
    appearance: none;
    /* background-color: rgba(0, 0, 0, 0.141); */
    /* border-radius: 10px; */
}

#group_select_scroll::-webkit-scrollbar-thumb {
    appearance: none;
    background-color: #cacaca55;
    width: 3px;
    /* border-radius: 10px; */
    /* overflow: hidden; */
}

.group_wrap {
    appearance: none;
    text-decoration: none;
    /* padding: 100px 10px 10px 10px; */
    /* height: 200px; */
    font-size: 20px;
    color: rgb(222, 222, 222);
    background-color: red;
}

/* .group_wrap:nth-of-type(odd) {
    width: 100%;
    background-color: #e1e1e1;
    min-height: 12.5%;
}

.group_wrap:nth-of-type(even) {
    width: 100%;
    background-color: #c3c3c3;
    min-height: 12.5%;
} */

.group_name {
    display: flex;
    justify-content: center;
    width: 70%;
    height: 30px;
    align-items: center;
    /* background-color: red; */
}

.group_privelege {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 30px;
    /* background-color: #0c6291; */
}

#send-message textarea,
#update-message textarea {
    width: 100%;
    margin: auto;
    resize: none;
    height: 20px;
    padding: 20px 80px;
    font-size: 1.3em;
    /* background-color: #0c6291a5; */
    border-radius: 355px;
    color: #FFFFFF;
    scrollbar-width: none;
    background-color: #e0e0e0;
    background-color: #00000044;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    outline: none;
}

.textboxtest {
    display: flex;
    position: relative;
    width: 70%;
}

#textboxes {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

#close_message_edit {
    position: absolute;
    right: 20px;
    top: 8px;
    /* background-color: #662542; */
    background-color: #FF87DF;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    border-radius: 50%;
    font-family: Arial, Helvetica, sans-serif;
    transition: .3s;
    cursor: pointer;
}

#close_message_edit:hover,
#file_upload_btn:hover,
#submit_file_btn:hover {
    color: whitesmoke;
    background-color: #652844;
}

#file_input_form {
    position: absolute;
    width: 70%;
    /* background-color: rgba(255, 0, 0, 0.219); */
    height: 1px;
}

#file_input_form input {
    position: relative;
    left: -99999999999999px;
}

#file_upload_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    background-color: #FF87DF;
    /* background-color: #662542; */
    cursor: pointer;
    border-radius: 50%;
    transition: .3s;
    position: absolute;
    top: 8px;
    left: 20px;
    font-size: 20px;
}

.submit_file_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    /* background-color: #662542; */
    background-color: #FF87DF;
    cursor: pointer;
    border-radius: 50%;
    transition: .3s;
    position: absolute;
    top: 8px;
    right: 20px;
    font-size: 20px;
}

#submit_file_btn .fa-paper-plane {
    position: relative;
    right: 1.5px;
}

.hidden {
    display: none;
}

.container {
    height: calc(100% - 100px);
}

.mp a,
.mp span {
    color: #f85525;
    text-decoration: none;
}

.mp a:hover {
    color: #01204e;
    text-decoration: underline;
}

.make-profile {
    border: 2px solid #f85525;
    background-color: #eac78a;
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.first-time-user {
    text-align: center;
    margin-bottom: 20px;
}

.logo-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.logo-container img {
    max-width: 100%;
    height: auto;
}

.make-profile-form form {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.make-profile-form form div {
    margin-bottom: 15px;
    margin: auto;
}

.make-profile-form form button {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #01204e;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.make-profile-form form button:hover {
    background-color: #f85525;
}

.make-profile-form form button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

.make-profile-form form input[type="text"],
.make-profile-form form input[type="file"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #b02f12;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 15px;
}

.make-profile-form form input[type="text"]:focus,
.make-profile-form form input[type="file"]:focus {
    outline: none;
    border-color: #01204e;
}

#file_input_form button:hover {
    background-color: ff87df;
}

.mp a,
.mp span {
    color: #e0e0e0;
    text-decoration: none;
}

.mp a:hover {
    color: #ff87df;
    text-decoration: underline;
}

.make-profile {
    border: 2px solid #662542;
    background-color: #FF87DF;
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.first-time-user {
    text-align: center;
    margin-bottom: 20px;
}

.logo-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.logo-container img {
    max-width: 100%;
    height: auto;
}

.make-profile-form form {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.make-profile-form form div {
    margin-bottom: 15px;
    margin: auto;
}

.make-profile-form form button {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: 00072d;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.make-profile-form form button:hover {
    background-color: #662542;
}

.make-profile-form form button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

.make-profile-form form input[type="text"],
.make-profile-form form input[type="file"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #652844;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 15px;
}

.make-profile-form form input[type="text"]:focus,
.make-profile-form form input[type="file"]:focus {
    outline: none;
    border-color: #01204e;
}

.profile-update-form,
.profile-delete-form {
    /* border: solid red; */
    width: 60%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.442);
}

.profile-form {
    max-width: 400px;
    padding: 2em;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.profile-form input[type='submit'] {
    background-color: #a63446;
    color: #fff;
    border: none;
    padding: 0.8em 1.2em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.profile-form input[type='submit']:hover {
    background-color: #f69046;
}

.account-plate-styles button {
    background-color: #652844;
}

.account-plate-styles button:hover {
    background-color: #FF87DF;
}

.user-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1em;
    background-color: #cd7bb7;
    border-radius: 10px;
    padding: 1em;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.413);
}

.user-card p {
    color: black;
}

.user-card .profile-pic {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
}

.user-card .profile-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.user-card .user-info {
    text-align: center;
}

.user-card .user-info:first-child {
    font-size: 2em;
}

.profile-pic {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 5px #00000070;
}

.user-info {
    color: #e0e0e0;
}

.user-info p {
    margin: 0.5em 0;
    font-size: 24px;
}

.profile-update-form {
    max-width: 400px;
    width: 100%;
    padding: 2em;
    background-color: #652844;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.profile-delete-form {
    border-top: solid #1d1d1d 1px;
    max-width: 400px;
    width: 100%;
    padding: 1em 2em;
    background-color: #652844;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.profile-delete-form input[type='submit'] {
    background-color: #00072d;
    color: #fff;
    border: none;
    padding: 0.8em 1.2em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.profile-delete-form input[type='submit']:hover {
    background-color: #e0e0e0;
    color: #1d1d1d;
}

.profile-update-form input[type='submit'] {
    background-color: #00072d;
    color: #fff;
    border: none;
    padding: 0.8em 1.2em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.profile-update-form input[type='submit']:hover {
    background-color: #e0e0e0;
    color: #1d1d1d;
}

.profile-update-form input[type='file'] {
    display: none;
}

.profile-update-form .file-input-label {
    width: 100%;
    background-color: #00072d;
    color: #e0e0e0;
    border: none;
    padding: 0.8em 1.2em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: inline-block;
    text-align: center;
    box-sizing: border-box;
    margin-bottom: 0.5em;
}

.profile-update-form .file-input-label:hover {
    background-color: #e0e0e0;
    color: #1d1d1d;
}

.profile-update-form form {
    width: 90%;
}

.result-container button {
    background-color: #00072d;
}

.form-group input {
    background-color: #e0e0e0;
    font-size: 1em;
}

.app-name h1 {
    font-size: 4em;
}