@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'VT323', monospace;
}

.content {
    height: 100vh;
}

body {
    background-color: #f6dcac;
}

.image-container {
    position: relative;
    display: inline-block;
    border-radius: 15px;
}

.profile-image {
    height: 30px;
    width: 30px;
}

.edit-link {
    height: 30px;
    position: absolute;
    bottom: 0;
    right: 0;
    color: white;
    padding: 2px 5px;
    text-decoration: none;
    font-size: 12px;
    border-radius: 2px;
    display: none;
}

.edit-link img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.image-container:hover .edit-link {
    display: block;
    background: rgba(0, 0, 0, 0.5);
}

.hidden {
    display: none;
}

#messages_container {
    background-color: #f856255e;
    height: 70vh;
    overflow-y: scroll;
    scrollbar-width: none;
    display: flex;
    flex-direction: column;
    padding: 0px 50px;
}

.message_wrapper {
    width: fit-content;
    max-width: 50%;
}

#test_wrapper {
    position: relative;
}

#to-bottom-btn {
    position: absolute;
    right: 20px;
    bottom: 20px;
    padding: 10px;
    border-radius: 50%;
    border: none;
    transition: .3s;
    background-color: #f8bb88;
}

#to-bottom-btn:hover {
    opacity: 60%;
    cursor: pointer;
}

.fa-chevron-down {
    font-size: 1.5em;
}

.message_file {
    height: 200px;
    max-width: 100%;
    border-radius: .3rem;
}

.speech-bubble {
    display: flex;
    justify-content: center;
    position: relative;
    background: #079cac;
    border-radius: .4em;
    padding: 10px;
    margin: 10px;
    height: fit-content;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.329);
    color: whitesmoke;
}

.speech-bubble:after {
    content: '';
    position: absolute;
    bottom: -10px;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-top-color: #079cac;
    border-bottom: 0;
}

.left .speech-bubble:after {
    left: 0;
    border-left: 0;
}

.right .speech-bubble:after {
    right: 0;
    border-right: 0;
    border-top-color: #01204e;
}

.right .speech-bubble {
    background-color: #01204e;
}

.right {
    align-self: flex-end;
}

.message_profile_wrapper {
    display: flex;
    position: relative;
    justify-content: left;
    flex-direction: row-reverse;
}

.message_profile_wrapper a {
    color: #01204e;
}

.message_profile_you {
    display: flex;
    justify-content: right;
}

.blocked_message_wrapper {
    display: flex;
    flex-direction: column;
    background-color: rgb(55, 55, 55);
    width: calc(100% - 20px);
    padding: 10px;
    border-radius: .4em;
    color: rgb(212, 212, 212);
    margin: 5px 0;
}

.block-p {
    margin: 0 auto;
}

.block-i:hover {
    opacity: 60%;
    transition: .3s;
    cursor: pointer;
}

.speech-bubble p {
    word-break: break-word;
}

#send-message textarea,
#update-message textarea {
    width: 100%;
    margin: auto;
    /* position: fixed; */
    bottom: 1px;
    resize: none;
    height: 60px;
    background-color: #079caca5;
    border-radius: 355px;
    color: white;
}

.side-nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #f85525;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.side-nav a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 1.2em;
    color: #f6dcac;
    display: block;
    transition: 0.3s;
}

.side-nav a:hover {
    background-color: #f6dcac;
    color: #01204e;
}

.side-nav .close-btn {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 2em;
    margin-left: 50px;
    cursor: pointer;
    color: #faa968;
}

.open-btn {
    font-size: 1.5em;
    cursor: pointer;
    position: fixed;
    top: 10px;
    left: 10px;
    padding: 0.1em .5em;
    border: none;
    border-radius: 5px;
    background-color: #faa968;
    color: white;
    transition: background-color 0.3s, color 0.3s;
}

.open-btn:hover {
    background-color: #f85525;
    color: #fff;
}

#online-count::before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #f85525;
    border-radius: 50%;
    margin-right: 5px;
    vertical-align: middle;
    transition: background-color 0.3s ease;
}

#online-count.online::before {


    background-color: #faa968;
}

.login-template,
.signup-template {
    max-width: 400px;
    width: 100%;
    padding: 1em;
    box-shadow: 1px 1px #f85525;
    border-radius: 5px;
    background-color: #028391;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-update-form,
.profile-delete-form {
    max-width: 400px;
    width: 100%;
    padding: 1em;
    box-shadow: 1px 1px #f85525;
    /* border-radius: 5px; */
    background-color: #028391;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-update-form {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.profile-delete-form {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.profile-update-form input[type='submit']:hover,
.profile-delete-form input[type='submit']:hover {
    background-color: #faa968;
}

.login-template input[type="text"],
.login-template input[type="password"],
.signup-template input[type="text"],
.signup-template input[type="email"],
.signup-template input[type="password"],
.input-text,
.input-file {
    width: 100%;
    padding: 0.5em;
    margin: 0.5em 0;
    box-sizing: border-box;
    /* border: 1px solid #faa968; */
    color: #01204e;
}


.login-template input[type="submit"],
.signup-template input[type="submit"],
.btn-submit,
.btn-delete {
    width: 100%;
    padding: 0.5em;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #f85525;
    transition: background-color 0.3s;
}

.login-template a,
.signup-template a {
    color: #f85525;
    text-decoration: none;
}

.login-template a:hover,
.signup-template a:hover {
    text-decoration: underline;
    color: #faa968;
}

.login-template input[type="submit"]:hover,
.signup-template input[type="submit"]:hover,
.btn-submit:hover,
.btn-delete:hover .login-template div,
.signup-template div,
.error-message {
    width: 100%;
    text-align: center;
}

.login-template a:hover,
.signup-template a:hover {
    text-decoration: underline;
}

.login-template input:hover,
.signup-template input[type='submit']:hover {
    background-color: #faa968;
}

.login-template form,
.signup-template form {
    margin-bottom: 1em;
}

#chatroom_head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#chatroom_head h1 {
    margin-bottom: 0;
    color: #faa968;
}

.app-name {
    margin-bottom: 2em;
    text-align: center;
}

.app-name h1 {
    margin: 0;
    font-size: 2.5em;
    color: #f85525;
    animation: fadeIn 1.5s ease-in-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.group {
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-pic {
    flex-shrink: 0;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #faa968;
    border-radius: 50%;
    margin: 10px;
}

.profile-pic img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.user-info {
    padding: 1em;
    flex-grow: 1;
    color: #faa968;
}

.user-info p {
    margin: 0.5em 0;
    color: #faa968;
}

.user-card {
    width: 100%;
    border: 1px solid #f85525;
    border-radius: 5px;
    background-color: #028391;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #f85525;
    color: white;
    transition: background-color 0.3s, color 0.3s;
}

button:hover {
    color: whitesmoke;
    background-color: #01204e;
}

button:focus {
    background-color: #faa968;
    color: white;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.user-profile {
    height: 80vh;
    width: 40%;
    border: solid orangered;
}

.user-profile div {
    border: solid orangered;
    margin-bottom: 1em;
}

.profile-buttons {
    background: orangered;
}

.user-profile {
    height: 60vh;
    width: 35%;
    border: 2px solid #f85525;
    border-radius: 10px;
    padding: 1em;
    background-color: #028391;
    color: white;
}

.user-profile div {
    border: 2px solid #f85525;
    border-radius: 5px;
    padding: 0.5em;
    margin-bottom: 1em;
}

.profile-buttons {
    background: #f85525;
    color: white;
    border: none;
    padding: 0.5em 1em;
    border-radius: 5px;
    cursor: pointer;
}

.center-image {
    display: flex;
    justify-content: center;
    align-items: center;
}















/* DELETE IF YOU WANT */

#account {
    position: absolute;
    width: 700px;
    /* height: 300px; */
    background-color: red;
    left: calc(50% - 350px);
    top: 200px;
    height: 500px;
}

#account img {
    height: 200px;
}

.search-bar {
    width: 600px;
    background-color: #f85525;
    border-radius: 30px;
    margin-bottom: 10px;
}

.search-bar .row {
    display: flex;
    align-items: center;
    padding: 5px 20px;
}

::placeholder {
    color: #afacac;
}

.search-bar input {
    height: 30px;
    width: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    font-size: 18px;
    color: white;
}

.search-results ul {
    width: 600px;
    background-color: #faa968;
    border-radius: 10px;
}

.search-results ul a {
    text-decoration: none;
    color: black;
}

.search-results ul li {
    display: flex;
    align-items: center;
    padding: 10px 20px 20px;
    gap: 10px;
    list-style-type: none;
}

.search-results ul li:hover {
    background-color: #028391;
    border-radius: 10px;
}

.search-results ul li img {
    height: 60px;
    width: 60px;
    border-radius: 50px;
}

.side-nav a {
    font-family: 'VT323', monospace;
}

/* .message_wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
}

.message_buttons {
    display: flex;
    bottom: 15px;
    right: 15px;
    border-radius: .3rem;
    overflow: hidden;
    width: fit-content;
}

.right .message_buttons {
    align-self: flex-end;
}

.edit_message {
    padding: 10px;
    margin: 0;
    background-color: aliceblue;
    color: #01204e;
    border-radius: 0;
    z-index: 2;
}

.delete-message {
    padding: 10px;
    margin: 0;
    background-color: rgb(194, 15, 15);
    border-radius: 0;
    z-index: 2;
}

#send-message input {
    width: calc(90% - 100px);
    margin-left: 5%;
    resize: none;
    height: 40px;
    background-color: white;
    border-radius: 5px;
    color: black;
    padding: 0px 50px;
    font-size: 1.3em;
} */