* {
    margin: 0;
    padding: 0;
}

/* body {
    background-color: #2a2356;
} */

.image-container {
    position: relative;
    display: inline-block;
}

.profile-image {
    height: 30px;
    width: 30px;
    border: 1px solid #e0d9f6;
}

.edit-link {
    height: 30px;
    position: absolute;
    bottom: 0;
    right: 0;
    /* background: rgba(0, 0, 0, 0.5); */
    color: white;
    padding: 2px 5px;
    text-decoration: none;
    font-size: 12px;
    border-radius: 2px;
    display: none;
}

.edit-link img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.image-container:hover .edit-link {
    display: block;
    background: rgba(0, 0, 0, 0.5);
}

.topnav {
    background-color: #6ecbf5;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #e0d9f6;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #c252e1;
    color: #2a2356;
}

.topnav a.active {
    background-color: #e0d9f6;
    color: #2a2356;
}

.hidden {
    display: none;
}

#messages_container {
    background-color: gray;
    height: 50vh;
    overflow-y: scroll;
    scrollbar-width: none;
}

#test_wrapper {
    position: relative;
}

#to-bottom-btn {
    position: absolute;
    right: 20px;
    bottom: 20px;
    padding: 10px;
    border-radius: 50%;
    border: none;  
    transition: .3s; 
}

#to-bottom-btn:hover {
    opacity: 60%;
    cursor: pointer;
}

.fa-chevron-down{
    font-size: 1.5em;
}

.message_file {
    height: 200px;
    max-width: 70vw;
}

/* textarea {
    resize: none;
    height: 20px;
    max-height: 40px;
    overflow: auto;
} */

