{% load static %}

{% if found_user %}
<div id='account' class='account-plate-styles' hx-swap-oob='outerHTML'>
    <button id='close_account_popup' onclick='closePopup()'><i class='fa-solid fa-xmark'></i></button>
    {% if found_user.profile.image %}
    <img id='acc_popup_img' src="{{found_user.profile.image.url}}" alt="">
    {% else %}
    <img id='acc_popup_img' src="{% static "images/default-user.jpg" %}" alt="">
    {% endif %}
    <p id='acc_popup_display'>{{found_user.profile.screen_name}}</p>
    <p id='acc_popup_user'>@{{found_user.username}}</p>
    <div id='acc_popup_btns'>
        <a href="{% url "profile" found_user.username %}"><button>View Profile</button></a>
        {% if user == group.admin or user in group.moderators.all and found_user not in group.moderators.all %}
            {% if found_user not in group.banned_users.all %}
                <button id='ban_user_btn' hx-post="{% url "ban_user" found_user.pk group%}">Ban from Chat</button>
            {% else %}
                <button id='unban_btn' hx-post="{% url "unban_user" found_user.pk group%}">Unban User</button>
            {% endif %}
        {% else %}
        {% for groupObj in user.groups.all %}
            {% if groupObj.name == "Admin" %}
                {% if found_user not in group.banned_users.all %}
                    <button id='ban_user_btn' hx-post="{% url "ban_user" found_user.pk group%}">Ban from Chat</button>
                {% else %}
                    <button id='unban_btn' hx-post="{% url "unban_user" found_user.pk group%}">Unban User</button>
                {% endif %}
            {% endif %}
        {% endfor %}
        {% endif %}
    </div>
</div>

{% elif closePopup %}

<div id='account' hx-swap-oob='outerHTML'></div>

{% endif %}