{% extends "friend_management.html" %}
{% load static %}
{% block friends %}
{% if friend_list.friends.all.count == 0 %}
<p>You currently have no friends.</p>
<a href="{% url "search_users" %}">Go find friends!</a>
{% else %}
<div class="model-count">
    <p>TOTAL FRIENDS - {{friend_list.friends.all.count}}</p>
</div>
    <div class="result-container">
        <ul>
            {% for friend in friend_list.friends.all %} 
            <li>
            <div class="wrapper">
            {% if friend.profile.image %}
            <img src="{{friend.profile.image.url}}">
            {% else %}
            <img src="{% static "images/default-user.jpg" %}">
            {% endif %}
            <p>{{friend}}</p>
            </div>
            <div class="btns">
                <a href="{% url "profile" friend %}"><button>Profile</button></a>
                <a href="{% url "remove_friend" friend %}"><button>Unfriend</button></a>
            </div>
            </li>
            {% endfor %}
        </ul>
    </div>
{% endif %}
{% endblock friends %}