{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conversely</title>
    <script src="{% static "scripts/htmx.min.js" %}" defer></script>
    <script src="{% static "scripts/script.js" %}" defer></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/ws.js" defer></script>
</head>
<body>
    <h1>Conversely</h1>
    <div id='messages_container'>
    {% for message in messages %}
    {% include "message.html" %}
    {% endfor %}
    </div>
    {% comment %} <form action="" method='POST'> {% endcomment %}
    <form id='send-message'
        hx-ext="ws"
        ws-connect='/ws/group/Cohort2'
        ws-send
        hx-trigger='keydown[code=="Enter" && !shiftKey]'>
        {% csrf_token %}
        {{ form.text }}
    </form>
</body>
</html>