{% extends "friend_management.html" %} 

{% block friends %}
<div class = 'form-container>'>
{% if friend_requests_list.all.count == 0 %}
<p>You have no pending friend requests.</p>
{% else %}
    {% for friend_request in friend_requests_list.all %}
    <p>{{friend_request.sender}}</p>
    <button><a href="{% url "accept_friend" friend_request.sender %}">Accept</a></button>
    <button><a href="{% url "decline_friend" friend_request.sender %}">Decline</a></button>
    {% endfor %}
{% endif %}
</div>
{% endblock friends %}