{% extends "friend_management.html" %} 
{% load static %}
{% block friends %}
<div class = 'form-container'>
{% if friend_requests_list.all.count == 0 %}
<p id='no_pending_requests'>You have no pending friend requests.</p>
{% else %}
<div class="model-count">
    <p>TOTAL PENDING - {{friend_requests_list.all.count}}</p>
</div>
    <div class="result-container">
        <ul>
            {% for friend_request in friend_requests_list.all %}
            <li>
            <div class="wrapper">
            {% if friend_request.sender.image %}
            <img src="{{friend_request.sender.image.url}}">
            {% else %}
            <img src="{% static "images/default-user.jpg" %}">
            {% endif %}
            <p>{{friend_request.sender}}</p>
            </div>
            <div class="btns">
                <a href="{% url "accept_friend" friend_request.sender %}"><button>Accept</button></a>
                <a href="{% url "decline_friend" friend_request.sender %}"><button>Decline</button></a>
            </div>
            </li>
            {% endfor %}
        </ul>
    </div>
{% endif %}
</div>
{% endblock friends %}