{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Conversely</title>
        <link rel="stylesheet" href="{% static 'styles/styles.css' %}" />
        <script src="{% static "scripts/htmx.min.js" %}" defer></script>
        <script src="{% static "scripts/script.js" %}" defer></script>
        <script src="https://unpkg.com/htmx.org/dist/ext/ws.js" defer></script>
        <script src="https://kit.fontawesome.com/2734bda929.js" crossorigin="anonymous" defer></script>
    </head>
    <body>
        <div class = 'topnav'>
            <a href="{% url 'logout' %}">Logout</a>
            <a href='{% url "edit-profile" %}'>Edit Profile</a>
            <a href = '{% url "group_selection" %}'>Home</a>
            <a href="{% url "friend_list" %}">Friends</a>
            <a href="{% url "invitations" %}">Invites</a>
        </div>
        {% block content %}
            <a href="{% url "create_group" %}">Create Group</a>
            {% comment %} <a href = "{% url "chat_home" 'Cohort2'%}">Cohort 2</a> {% endcomment %}
            {% for group in groups  %}
                {% if group.new_group_name and user in group.users.all %}
                    <a href="{% url "chatroom" group.name %}">{{group.new_group_name}}</a>
                {% elif not group.is_private and not group.new_group_name %}
                    <a href="{% url "chatroom" group.name %}">{{group.name}}</a>
                {% endif %}
            {% endfor %}
            <div class="friend-requests"></div>
        {% endblock content %}
    </body>
</html>