{% extends "group_selection.html" %} 

{% block content %}
<div class = 'form-container'>
    <div class="group-management">
        <h2>{{chatroom.new_group_name}}</h2>
            {% if current_user == chatroom.admin %}
            <div class="group-btns">
                <button><a href="{% url "update_group" chatroom.name %}">Edit</a></button>
                <button><a href="{% url "delete_group" chatroom.name %}">Delete</a></button>
            </div>
            {% elif current_user in chatroom.moderators.all %}
            <button><a href="{% url "update_group" chatroom.name %}">Edit</a></button>
            {% endif %}
            <h3>Admin</h3>
            <p>{{chatroom.admin}}</p>
            <h3>Moderators</h3>
            {% for moderator in chatroom.moderators.all %}
                <div class="mod">
                <p>{{moderator}}</p>
                {% if current_user == chatroom.admin %}
                    <button><a href="{% url "remove_moderators" chatroom.name moderator %}">Remove Role</a></button>
                {% endif %}
                </div>
            {% endfor %}
            <h3>Other Users</h3>
            {% for user in users %}
                {% if user not in chatroom.moderators.all and user != chatroom.admin %}
                    <div class="mod">
                    <p>{{user}}</p>
                    <button><a href="{% url "appoint_moderators" chatroom.name user %}">Appoint as Moderator</a></button>
                    </div>
                {% endif %}
            {% endfor %}
    </div>
</div>
{% endblock content %}