{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conversely</title>
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="{% static "scripts/htmx.min.js" %}" defer></script>
    <script src="{% static "scripts/script.js" %}" defer></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/ws.js" defer></script>
    <script src="https://kit.fontawesome.com/2734bda929.js" crossorigin="anonymous" defer></script>
</head>
<body>

    <div class="side-nav" id="sideNav">
        <a href="#" class="close-btn" id="closeBtn">&times;</a>
        <a href="{% url 'group_selection' %}"><i class="fas fa-home"></i> Home</a>
        <a href="{% url 'edit-profile' %}"><i class="fas fa-user-edit"></i> Profile</a>
        <a href="{% url "friend_list" %}"><i class="fas fa-user-friends"></i> Friends</a>
        <a href="{% url "invitations" %}"><i class= "fas fa-envelope-open"></i> Invites</a>
        {% comment %}<a href="{% url 'edit-profile' %}"><i class="fas fa-paint-brush"></i>  Theme</a> {% endcomment %}
        <a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> Logout</a>
    </div>
        <div class="content" id="mainContent">
        {% block content %}
            {% comment %} <a href = "{% url "chat_home" 'Cohort2'%}">Cohort 2</a> {% endcomment %}
        <div class = 'form-container'>
            <p id='createGroup'>Create Group</p>
            <div id='createGroupForm' class='hidden'>
                {% include "create_group.html" %}
            </div>
            {% for group in groups  %}
                {% if group.new_group_name and user in group.users.all %}
                    <div class="group"><a href="{% url "chatroom" group.name %}">{{ group.new_group_name }}</a></div>
                {% elif not group.is_private and not group.new_group_name and user not in group.banned_users.all %}
                    <div class="group"><a href="{% url "chatroom" group.name %}">{{ group.name }}</a></div>
                {% endif %}
            {% endfor %}
            <div class="friend-requests"></div>
        {% endblock content %}
    </div>

        <script>
            let createGroup = document.getElementById('createGroup');
            let createGroupForm = document.getElementById('createGroupForm');
            createGroup.onclick = function () {
                createGroupForm.classList.remove('hidden');
            }
        </script>

</div>
    {% comment %} </div> {% endcomment %}
    <button class="open-btn" id="openBtn">&#9776;</button>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const openBtn = document.getElementById('openBtn');
            const closeBtn = document.getElementById('closeBtn');
            const sideNav = document.getElementById('sideNav');
            const mainContent = document.getElementById('mainContent');
        
            openBtn.addEventListener('click', () => {
                sideNav.style.transition = 'width 0.5s, margin-left 0.5s';
                sideNav.style.width = '250px';
                mainContent.style.transition = 'margin-left 0.5s';
                mainContent.style.marginLeft = '250px';
            });
        
            closeBtn.addEventListener('click', () => {
                sideNav.style.transition = 'width 0.5s, margin-left 0.5s';
                sideNav.style.width = '0';
                mainContent.style.transition = 'margin-left 0.5s';
                mainContent.style.marginLeft = '0';
            });
        });
    </script>
</body>
</html>
