{% extends "group_selection.html" %}
{% load static %}
{% block content %}
<div class = 'form-container'>
    <div class="invites">
        <h3>Invites</h3>
        {% if invitations.all.count == 0 %}
        <p>You have no new invites.</p>
        {% else %}
        <div class="model-count">
            <p>Total Invites - {{invitations.all.count}}</p>
        </div>
        <div class="result-container">
            {% for invitation in invitations.all %}
            <div class="row">
                <div class="row">
                    {% if invitation.sender.profile.image %}
                    <img style='border-radius: 50%' src="{{invitation.sender.profile.image.url}}">
                    {% else %}
                    <img style='border-radius: 50%' src="{% static "images/default-user.jpg" %}">
                    {% endif %}
                    <p>{{invitation.sender}} invited you to join '{{invitation.group.new_group_name}}'</p>
                </div>
                <div class="btns">
                    <a href="{% url "accept_invite" invitation.group.name %}"><button>Accept</button></a>
                    <a href="{% url "decline_invite" invitation.group.name %}"><button>Decline</button></a>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div>
{% endblock content %}