{% extends "group_selection.html" %}
{% load static %}

{% block content %}
    <div class="form-container">
        <div class="make-profile">
            <div class="first-time-user">
                <div class="logo-container">
                    <img src="{% static "images/logo.png" %}" alt="Logo">
                </div>                
                <p>Welcome, {{ user }}</p>
                <p>Select your screen name: {{ user.screen_name }}</p>
            </div>
            <div class="make-profile-form">
                <form method="post">
                    {% csrf_token %}
                    <div>{{ form.screen_name }}</div>
                    <div>{{ form.image }}</div>
                    <button type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            let screen_name = document.getElementsByName('screen_name')[0];
            
            screen_name.placeholder = 'Screen Name...';
        });
    </script>
{% endblock content %}
