{% load static %}
{% load static %}

{% if message.user == user or message.user not in user.profile.blocked_users.all %}
<div class="message_wrapper {% if user == message.user %}right{% else %}left{% endif %}" id="message_{{message.pk}}">
    <div class="speech-bubble {% if user == message.user %}{% endif %}">
    {% if message.text %}
    <p>{{message.text}}</p>
    {% elif message.file %}
    <img class='message_file' src="{{message.file.url}}" alt="">
    {% endif %}
    </div>
    {% if user != message.user %}
    <div class='message_profile_wrapper' hx-post="{% url "get_user_account" message.user.pk message.group.name %}" hx-target='#account'>
        <p class='popup_account'>{{message.user.profile.screen_name}}</p>
        <div class="image-container" style="position: relative; display: inline-block;">
            {% if message.user.profile.image %}
            <img src="{{message.user.profile.image.url}}" class="profile-image">
            {% else %}
            <img src="{% static "images/default-user.jpg" %}" alt="" class="profile-image">
            {% endif %}
        </div>
    </div>
    {% else %}
            <p class='message_profile_you'>You</p>
    {% endif %}
    <div class='message_buttons'>
    {% if message.user == user %}
        <button class='delete-message'
            hx-post="{% url "delete_message" channel message.pk %}"
            hx-target="#message_{{message.pk}}"><i class="fa-solid fa-trash-can"></i></button>
        {% if message.text %}
            <button class='edit_message'><i class="fa-solid fa-pencil"></i></button>
        {% endif %}
    {% elif user in message.group.moderators.all or user == message.group.admin %}
        <button class='delete-message'
            hx-post="{% url "delete_message" channel message.pk %}"
            hx-target="#message_{{message.pk}}"><i class="fa-solid fa-trash-can"></i></button>
    {% else %}
        {% for groupObj in user.groups.all %}
            {% if groupObj.name == "Admin" %}
                <button class='delete-message'
                    hx-post="{% url "delete_message" channel message.pk %}"
                    hx-target="#message_{{message.pk}}"><i class="fa-solid fa-trash-can"></i></button>
            {% endif %}
        {% endfor %}
    {% endif %}
    </div>
   <div class = 'chat-box-time-stamp'>
    {%now "Y-m-d" as today%}
    {% if message.date_created|date:"Y-m-d" == today %}
        <p class="{% if user == message.user %}right{% else %}left{% endif %}">{{ message.date_created|date:"g:i a" }}</p>
    {% else %}
        <p class="{% if user == message.user %}right{% else %}left{% endif %}">{{ message.date_created|date:"D, m-d g:i a" }}</p>
    {% endif %}
    </div>
</div>
{% endif %}
