{% load static %}

<div style="{% if message.user == user %}display:flex; flex-direction:column; width: 90vw; align-items:flex-end;{% endif %}">
    <p>{{message.text}}</p>
    <div style='display:flex'>
        <a href="{% url "profile" message.user.username %}">{{message.user.username}}</a>
        {% if message.user.profile.image %}
        <img src="{{message.user.profile.image.url}}" style='height: 30px'>
        {% else %}
        <img src="{% static "images/default-user.jpg" %}" alt="" style='height: 30px'>
        {% endif %}
    </div>
    <p>{{message.date_created.time}}</p>
</div>