{% extends "group_selection.html" %}
{% load static %}

{% block content %}
<div class="user-card">
  <div class="profile-pic">
      {% if user.image %}
          <img src="{{ user.image.url }}" alt="Profile Picture">
      {% else %}
          <img src="{% static "images/default-user.jpg" %}" alt="Profile Picture">
      {% endif %}
  </div>
</div>
  <div class="user-info">
      <p>{{ user.user }}</p>
      <p>{{ user.screen_name }}</p>
  </div>
</div>
<h3>{{profile}}</h3>
{% if current_user != profile.user %}
  {% if user not in profile.blocked_users.all and profile.user not in user.profile.blocked_users.all %}
  <div class="chat-btn">
    <a href="{% url "private_chat" profile.user %}">Start Chatting</a>
  </div>
  {% endif %}
  {% if profile.user not in user.profile.blocked_users.all %}
    <form action="" method='POST'>
      {% csrf_token %}
      <input type="hidden" value="{{profile.user.pk}}" name='user_id'>
      <input type="submit" value='Block' name='block_user'>
    </form>
  {% else %}
  <form action="" method='POST'>
    {% csrf_token %}
    <input type="hidden" value="{{profile.user.pk}}" name='user_id'>
    <input type="submit" value='Unblock' name='unblock_user'>
  </form>
  {% endif %}
{% else %}
<a href="{% url "create_group" %}">Create Group</a>
<div class="chat-groups">
  {% for group in admin_groups %}
    <a href="{% url "chatroom" group.name %}">{{group.new_group_name}}</a>
  {% endfor %}
</div>
{% endif %}
{% endblock content %}
