{% extends "group_selection.html" %}
{% load static %}

{% block content %}
<div class = 'form-container'>
{% comment %} <div class="user-card">
  <div class="profile-pic">
      {% if user.image %}
          <img src="{{ user.image.url }}" alt="Profile Picture">
      {% else %}
          <img src="{% static "images/default-user.jpg" %}" alt="Profile Picture">
      {% endif %}
  </div>
</div>
  <div class="user-info">
      <p>{{ user.user }}</p>
      <p>{{ user.screen_name }}</p>
  </div>
</div> {% endcomment %}
<div class = 'user-profile'>
<div><h3 class = 'center image'>{{profile}}</h3></div>
<div class = 'center-image'>
  <div class="profile-pic">
    {% if user.image %}
        <img src="{{ user.image.url }}" alt="Profile Picture">
    {% else %}
        <img src="{% static "images/default-user.jpg" %}" alt="Profile Picture">
    {% endif %}
  </div>
</div>
<div class = 'profile-buttons'>
{% if user != profile.user %}
  {% if user not in profile.blocked_users.all and profile.user not in user.profile.blocked_users.all %}
    <div class="chat-btn">
      <a href="{% url "private_chat" profile.user %}">Start Chatting</a>
    </div>
    {% if user not in profile.friends.all and friend_request_from_current_user == False and friend_request_from_other_user == False %}
      <div class="add-friend-btn">
        <a href="{% url "add_friend" profile.user %}">Add Friend</a>
      </div>
    {% elif user not in profile.friends.all and friend_request_from_current_user == True and friend_request_from_other_user == False %}
      <div class="cancel-request-btn">
        <a href="{% url "cancel_request" profile.user %}">Cancel</a>
      </div>
    {% elif user not in profile.friends.all and friend_request_from_current_user == False and friend_request_from_other_user == True %}
    <div class="accept-decline-containter">
      <div class="accept-friend-btn">
        <a href="{% url "accept_friend" profile.user %}">Accept</a>
      </div>
      <div class="decline-friend-btn">
        <a href="{% url "decline_friend" profile.user %}">Decline</a>
      </div>
    {% else %}
    <div class="chat-btn">
      <a href="{% url "private_chat" profile.user %}">Start Chatting</a>
    </div>
    <div class="remove-friend-btn">
      <a href="{% url "remove_friend" profile.user %}">Remove Friend</a>
    </div>
    </div>
    {% endif %}
 
  {% endif %}
  {% if profile.user not in user.profile.blocked_users.all %}
    <form action="" method='POST'>
      {% csrf_token %}
      <input type="hidden" value="{{profile.user.pk}}" name='user_id'>
      <input type="submit" value='Block' name='block_user'>
    </form>
  {% else %}
  <form action="" method='POST'>
    {% csrf_token %}
    <input type="hidden" value="{{profile.user.pk}}" name='user_id'>
    <input type="submit" value='Unblock' name='unblock_user'>
  </form>
  {% endif %}
{% else %}
{% endif %}
</div>
</div>
</div>
{% endblock content %}
