{% extends "group_selection.html" %}

{% block content %}
    <div>
        <form method = 'POST' enctype='multipart/form-data'>
            {% csrf_token %}
            <div><input type = 'text' name = 'screen_name' placeholder = 'New Screen Name...'></div>
            <div><input type = 'email' name = 'new_email' placeholder = 'New Email...'></div>
            <div><input id = 'password' type = 'text' name = 'password' placeholder = 'Enter New Password...'></div>
            <div><input type = 'file' name = 'image'></div>
            <div><input type = 'submit' name = 'update' value = 'Submit'></div>
        </form>
    </div>
    <div>
        <form method = 'POST'>
            {% csrf_token %}
            <input type = 'Submit' value = 'Delete Profile' name ='delete'>
        </form>
    </div>
    {% if error %}
        <div>
            {{error}}
        </div>
    {% endif %}
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const passwordInputField = document.getElementById('password')

            passwordInputField.addEventListener('input', () => {
                passwordInputField.type = (passwordInputField.value === '') ? 'text' : 'password';
            });
        });
    </script>
{% endblock content %}