{% extends "group_selection.html" %}

{% block content %}
    <div>
        <form method = 'POST' enctype='multipart/form-data'>
            {% csrf_token %}
            <div><input type = 'text' name = 'screen_name' placeholder = 'New Screen Name...'></div>
            <div><input type = 'email' name = 'new_email' placeholder = 'New Email...'></div>
            <div><input type = 'file' name = 'image'></div>
            <div><input type = 'submit' name = 'update' value = 'Submit'></div>
        </form>
    </div>
    <div>
        <form method = 'POST'>
            {% csrf_token %}
            <input type = 'Submit' value = 'Delete Profile' name ='delete'>
        </form>
    </div>
{% endblock content %}
