{% extends "group_selection.html" %} {% block content %}
<div>
    <a href="{% url "chatroom" chatroom.name %}">Back to {{chatroom.new_group_name}} chatroom</a>
</div>
{% if user.profile.friends.all.count == 0 %}
<p>You have no friends to invite.</p>
<a href="{% url "search_users" %}">Go find friends!</a>
{% else %}
    <div class="invite-list">
    <h3>Invite Your Friends!</h3>
    {% for friend, active_invite in friend_invites.items %}
        {% if friend not in chatroom.users.all %}
        <p>{{friend}}</p>
            {% if active_invite == False %}
            <button><a href="{% url "send_invite" chatroom.name friend %}">Send Invite</a></button>
            {% else %}
            <button><a href="{% url "cancel_invite" chatroom.name friend %}">Cancel</a></button>
            {% endif %}
        {% endif %}
    {% endfor %}
    </div>
{% endif %}

{% endblock content %}
